/* html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
} */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.site-nav,
.contacts-nav,
.features-list,
.skills-list,
.team-list,
.address-list,
.portfolio-filter,
.work-examples-list {
  list-style: none;
}

.logo {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-span {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Connect nav */

.contacts-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
/* Добавил цвет фона для того, чтобы увидеть текст */

.hero-title {
  color: var(--secondary-text-color);
  background-color: var(--footer-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */

.features-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* Team */

.team-list .title {
  color: var(--title-text-color);
}

/* Buttons */

.button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}

.button.primary {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}

/* Portfolio */

.work-examples-list .title {
  color: var(--title-text-color);
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
